<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FirstWebApp</display-name>
  <context-param>
    <param-name>driver-name</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>connection-url</param-name>
    <param-value>jdbc:mysql://localhost:3306/test</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>root</param-value>
  </context-param>
  <servlet>
    <servlet-name>GuidelinesServlet</servlet-name>
    <servlet-class>com.ssi.GuidelinesServlet</servlet-class>
    <init-param>
      <param-name>guideline-file</param-name>
      <param-value>g:\data\Guidelines.docx</param-value>
    </init-param>
    <init-param>
      <param-name>author</param-name>
      <param-value>manoj</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuidelinesServlet</servlet-name>
    <url-pattern>/GuidelinesInfo</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>